/* Base styles */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #deefe2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

/* Nav styles */
#nav-container {
    background-color: #5cdb95;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 2em 0.5em 2em;
    color: #f0f8ff;
}

nav span {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2em;
    font-size: 18px;

}

nav a {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
        gap: 1em;
    }
}

/* Welcome section styles */
#welcome-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 35%;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#welcome-section h1 {
    font-size: 64px;
    text-align: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 700px) {
    #welcome-section h1 {
        font-size: 36px;
    }
}

#welcome-section p {
    font-size: 30px;
    line-height: 1.6;
    min-width: 300px;
    text-align: center;
}

#startBtn {
    border: none;
    background-color: #5cdb95;
    color: #f0f8ff;
    padding: 1.5em;
    border-radius: 4px;
    margin-bottom: 10em;
    font-size: 24px;
    max-width: 25%;
    min-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

/* App section styles */
#app-section {
    max-width: 45%;
    min-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

/* Question styles */
#cta {
    display: flex;
    justify-content: center;
    font-size: 30px;

}

#container {
    box-shadow: 0px 0px 15px 0px #333;
}

#categories-container {
    margin-top: 5em;
    background-color:#5cdb95;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 100%;
    padding: 1em 0em 1em 0em;
}

#category-label {
    font-size: 24px;
    padding-left: 1em;
    color:#f0f8ff;
}

#period_dropdown {
    background-color:#f0f8ff;
    border: none;
    display: block;
    width: 85%;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

#question-container {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    
    padding: 2em 1em 2em 1em;
}

#question-title {
    font-size: 18px;
}

#question {
    font-size: 24px;
}

#change-question-button {
    border: none;
    background-color: #5cdb95;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 18px;
    color:#f0f8ff;
}

#text-to-speech{
    border: none;
    background-color: #5cdb95;
    padding: 0.5em;
    border-radius: 4px;
    font-size: 18px;
    color:#f0f8ff;
}
#question-control{
    display: flex;
    justify-content:space-between;
    gap: 0em 5em;
}
/* Recording styles */
#recording-container {
    margin-top: 1em;
    background-color: #deefe2;
    padding-bottom: 1em;
    box-shadow: 0px 0px 15px 0px #333;
}

#record-prompt {
    text-align: center;
    background-color:#5cdb95;
    padding: 0.5em 0em 0.5em 0em;
    font-size: 30px;
    color:#f0f8ff;
}

#record-list {
    font-size: 18px;
}

#recording-controls {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 0em 2em;
    font-size: 18px;
}

#record, #tryAgainBtn {
    border: none;
    background-color: red;
    padding: 1em;
    border-radius: 4px;
    color: #f0f8ff;
    font-size: 18px;
}

#submit, #reviewBtn {
    border: none;
    background-color: gray;
    padding: 1em;
    border-radius: 4px;
    color: #f0f8ff;
    display: none;
}

/* Transcript styles */
#transcript-container {
    background-color: #5cdb95;
    padding: 1em;
    margin-top: 1em;
    display: none;
}

.transcript-title {
    font-size: 30px;
}

#transcript-text {
    font-size: 24px;
}

#transcript-result {
    font-size: 24px;
}

#transcript-controls {
    display: flex;
    justify-content: center;
    gap: 0em 2em;
}

/* About styles */
#about {
    max-width: 45%;
    margin-left: auto;
    margin-right: auto;
}

.about-section h2 {
    font-size: 24px;
    color: #5cdb95;
}

.about-section p {
    line-height: 1.3;
    color: #333;
}